<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script crossdomain src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossdomain src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"> </script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"> </script>
        <style>
            body {
              background-color: #62B6B7;
            }

            .form-control {
              background-color: #CBEDD5;
              text-align: center;
            }

            #console {
              background-color: black;
            }
        </style>
    </head>

    <body>
        <h1 class = "text-center">Heart Disease Classifier</h1>
        <br>

        <h3 class = "text-center">Note: </h3>
        <p class = "text-center">trestbps - resting blood pressure (resting blood pressure (in mm Hg on admission to the hospital) </p>
        <p class = "text-center">chol - (serum cholesterol in mg/dl) </p>
        <p class = "text-center">fbs - (if fasting blood sugar > 120 mg/dl) </p>
        <p class = "text-center">restecg - (resting electrocardiographic results) </p>
        <p class = "text-center">thalach: maximum heart rate achieved </p>
        <p class = "text-center">exang: exercise-induced angina (True/ False) </p>
        <p class = "text-center">oldpeak: ST depression induced by exercise relative to rest </p>
        <p class = "text-center">slope: the slope of the peak exercise ST segment </p>
        <p class = "text-center">ca: number of major vessels (0-3) colored by fluoroscopy </p>
        <p class = "text-center">thal: [normal; fixed defect; reversible defect] </p>
        <p class = "text-center">target: the predicted attribute </p>
        <br><br>

        <form class = "p-3 text-center" action = '/', method = "post" enctype = "multipart/form-data">
            <input class = "form-control" type = "text" name = "age" placeholder="age">
            <input class = "form-control" type = "text" name = "sex" placeholder="sex">
            <input class = "form-control" type = "text" name = "cp" placeholder="cp">
            <input class = "form-control" type = "text" name = "trestbps" placeholder="trestbps">
            <input class = "form-control" type = "text" name = "chol" placeholder="chol">
            <input class = "form-control" type = "text" name = "fbs" placeholder="fbs">
            <input class = "form-control" type = "text" name = "restecg" placeholder="restecg">
            <input class = "form-control" type = "text" name = "thalach" placeholder="thalach">
            <input class = "form-control" type = "text" name = "exang" placeholder="exang">
            <input class = "form-control" type = "text" name = "oldpeak" placeholder="oldpeak">
            <input class = "form-control" type = "text" name = "slope" placeholder="slope">
            <input class = "form-control" type = "text" name = "ca" placeholder="ca">
            <input class = "form-control" type = "text" name = "thal" placeholder="thal">
            <br>
            <input class = "btn btn-primary mt-3" type = "submit" value = "Predict" name = "predict">
            <br><br>

            <p class = "text-center">Result: </p>
            <br>

            {% if x == 1 %}
                <p class = "text-center">Has Heart Disease</p>
            {% endif %}
            {% if x == 0 %}
                <p class = "text-center">Doesn't have Heart Disease</p>
            {% endif %}
            <br><br><br>
        </form>
        <br><br>
        <div id="root" class = "text-center"></div>

        <script type = "text/babel">
            var stdout = React.useState();

            ReactDOM.render(
                <textarea class = "p-3 text-center" id="console" name="console" rows="16" cols="190"></textarea>,
            document.getElementById("root"));
        </script>
    </body>
</html>